<div class="container" style="margin: 0 0px 0;">
  <div *ngFor="let key of income | keys">
    <section-fields [data]="income[key]"></section-fields>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <div class="alert alert-dark" role="alert">
        Total Income : <b>{{totals().income}}</b>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="alert alert-dark" role="alert">
        Tax Withheld : <b>{{totals().withheld}}</b>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="alert alert-dark" role="alert">
        Final : <b>{{totals().final}}</b>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3" *ngFor="let key of calcs | keys">
      <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">Calcs for <b>{{key}}</b></div>
        <div class="card-body">
          <div *ngFor="let childKey of calcs[key] | keys">
            <h5 class="card-title">{{calcs[key][childKey].section}}</h5>
            <span>{{calcs[key][childKey].field}} ({{calcs[key][childKey].operation}})</span>
            <button type="button" class="close" aria-label="Close" (click)="deteleCalc(key, childKey)">&times;</button>
          </div>
        </div>
        <button type="button" class="btn btn btn-link"(click)="setupAdd(key)"> Add Calc
        </button>
      </div>
    </div>
  </div>
</div>

