<div class="container">
  <ngb-tabset>
    <div *ngFor="let part of income | keys">
      <ngb-tab title={{part}}>
        <ng-template ngbTabContent>
          <div style="margin-top: 10px;"></div>
          <div *ngFor="let key of income[part] | keys">
            <section-fields [data]="income[part][key]" [section]="key"></section-fields>
          </div>
        </ng-template>
      </ngb-tab>
    </div>
  </ngb-tabset>

  <div class="row"  style="margin-top: 30px;">
    <div class="col-sm-3">
      <div class="alert alert-dark" role="alert">
        Total Income : <b>{{totals().income}}</b>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="alert alert-dark" role="alert">
        Tax Withheld : <b>{{totals().withheld}}</b>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="alert alert-dark" role="alert">
        Final : <b>{{totals().final}}</b>
      </div>
    </div>
  </div>
  <calculations-editor [calcs]="calcs"></calculations-editor>
</div>

