<div style="margin-top: 10px;">
  <div *ngIf="isEditMode()">
    <mat-form-field>
      <input matInput [(ngModel)]="modelName" type="text" class="form-control" placeholder="Model Name">
    </mat-form-field>
    <button mat-raised-button color="primary" style="height: 45px; margin-left:10px;" (click)="addModel(modelName)">Add Model</button>
    <button mat-raised-button color="accent" style="height: 45px; margin-left:10px;" (click)="deletePage()">Delete Page</button>
  </div>
  <ngb-tabset>
    <div *ngFor="let model of data | keys">
      <div *ngIf="model !== 'Page Calcs'">
        <ngb-tab title={{model}}>
          <ng-template ngbTabContent>
            <div style="margin-top: 10px;"></div>
            <div *ngIf="isEditMode()">
              <mat-form-field>
                <input matInput [(ngModel)]="sectionName" type="text" class="form-control" placeholder="Section Name">
              </mat-form-field>
              <button mat-raised-button color="primary" style="height: 45px; margin-left:10px;" (click)="addSection(model, sectionName)">Add Section</button>
              <button mat-raised-button color="accent" style="height: 45px; margin-left:10px;" (click)="deleteModel(model)">Delete Model</button>
            </div>
            <div *ngFor="let key of data[model] | keys">
              <section-fields [data]="data[model][key]" [section]="key" [model]="model"></section-fields>
            </div>
          </ng-template>
        </ngb-tab>
      </div>
    </div>
  </ngb-tabset>

  <!--Page calcs section-->
  <div *ngIf="isEditMode()" style="padding-top:10px;">
    <mat-form-field>
      <input matInput [(ngModel)]="pageCalcName" type="text" class="form-control" placeholder="Page Calc Name">
    </mat-form-field>
    <button *ngIf="isEditMode()" type="button" class="btn btn btn-link" (click)="addPageCalc()">Add Page Calc</button>
  </div>
  <calculations-editor [calcs]="data['Page Calcs']"></calculations-editor>
</div>
