<h1 mat-dialog-title>Add Calc </h1>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput placeholder="Name" [(ngModel)]="data.data.name">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Section" [(ngModel)]="data.data.section">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Field" [(ngModel)]="data.data.field">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Operation" [(ngModel)]="data.data.operation">
  </mat-form-field>
  <section>
    <mat-checkbox [(ngModel)]="data.data.ifChecked">Ifs</mat-checkbox>
  </section>
  <mat-accordion *ngIf="data.data.ifChecked" >
    <div class="row" *ngFor="let i of data.data.if ">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            If {{i.section1}} {{i.field1}} {{i.compare}} {{i.section2}} {{i.field2}} {{i.value}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="row">
          <mat-form-field>
            <input matInput placeholder="Section 1" [(ngModel)]=i.section1>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Field 1" [(ngModel)]=i.field1>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Compare With" [(ngModel)]=i.compare>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Section 2" [(ngModel)]=i.section2>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Field 2" [(ngModel)]=i.field2>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Or Value" [(ngModel)]=i.value>
          </mat-form-field>
        </div>
      </mat-expansion-panel>
    </div>
  </mat-accordion>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="add()">Add</button>
  <button mat-button (click)="cancel()">Cancel</button>
  <button *ngIf="data.data.ifChecked" mat-button (click)="addIf()">Add If</button>
</div>
