<div class="container-fluid" style="margin-top: 10px;">
  <button type="button" class="btn btn btn-link" (click)="save()">Save Current Settings</button>
  <button type="button" class="btn btn btn-link" (click)="load()">Load Settings From File</button>
  <input type="file" (change)="setup($event)">
  <mat-checkbox (click)="toggle()" [(ngModel)]="editMode">Edit Mode</mat-checkbox>
  <ngb-tabset>
    <div *ngFor="let page of pages | keys">
      <ngb-tab title={{page}}>
        <ng-template ngbTabContent>
          <page [data]="pages[page]" [page]="page"></page>
        </ng-template>
      </ngb-tab>
    </div>
    <!--<ngb-tab title="Personal">
      <ng-template ngbTabContent>
        <app-personal></app-personal>
      </ng-template>
    </ngb-tab>-->
  </ngb-tabset>
</div>
