<div class="row">
  <div class="col-sm-2">
    <p style="margin: 1rem 0;">{{section}}</p>
  </div>
  <div *ngFor="let key of data | keys">
    <button *ngIf="isEditMode()" type="button" class="close" (click)="deleteField(key)" style="position: relative; top: 20px;">&times;</button>
    <div *ngIf="data[key].dropdown; else checkIfDateInput">
      <div class="col-sm-2">
        <mat-form-field>
          <mat-select [(ngModel)]="data[key].value" placeholder="{{key}}" matTooltip="{{key}}">
            <mat-option *ngFor="let option of data[key].dropdown" value="{{option}}">{{option}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <ng-template #checkIfDateInput>
      <div *ngIf="data[key].date; else checkIfCheckboxInput" style="padding:0 20px">
        <mat-form-field>
          <input matInput [(ngModel)]="data[key].value" [matDatepicker]="date" placeholder="{{key}}">
          <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
          <mat-datepicker #date></mat-datepicker>
        </mat-form-field>
      </div>
    </ng-template>
    <ng-template #checkIfCheckboxInput>
      <div *ngIf="data[key].checkbox; else elseBlock">
        <mat-checkbox [(ngModel)]="data[key].value">{{key}}</mat-checkbox>
      </div>
    </ng-template>
    <ng-template #elseBlock>
      <div class="col-sm-1" *ngIf="!data[key].calcs">
        <mat-form-field>
          <input matInput [(ngModel)]=data[key].value type="number" class="form-control" placeholder="{{key}}" matTooltip="{{key}}">
        </mat-form-field>
      </div>
      <div class="col-sm-10" *ngIf="data[key].calcs">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{key}}: {{calcField(data[key])}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <calculations-editor *ngIf="calcField(data[key]) !== false" [calcs]="data[key].calcs" [doCalcIf]="data[key].doCalcIf" keyProvided={{key}}></calculations-editor>
          <calculations-editor *ngIf="calcField(data[key]) === false" [doCalcIf]="data[key].doCalcIf" keyProvided={{key}}></calculations-editor>
        </mat-expansion-panel>
      </div>
    </ng-template>
  </div>
  <button *ngIf="isEditMode()" mat-raised-button color="primary" style="height: 45px; margin-left:10px;" (click)="addField()">Add Field</button>
  <button *ngIf="isEditMode()" mat-raised-button color="accent" style="height: 45px; margin-left:10px;" (click)="deleteSection()">Delete Section</button>
</div>

