<div class="row">
  <div class="col-sm-2">
    <p style="margin: 1rem 0;"><b>{{section}}</b></p>
  </div>
  <div class="col-sm-10">
    <div *ngFor="let key of data | keys" style="display: inline-block;">
      <field-renderer [fieldData]='data[key]' [key]='key' (valueChange)='valueChanged($event, key)'></field-renderer>
      <button *ngIf="isEditMode()" type="button" class="close" (click)="deleteField(key)" style="position: relative; top: 20px;">&times;</button>
    </div>
  </div>
  <button *ngIf="isEditMode()" mat-raised-button color="primary" style="height: 45px; margin-left:10px;" (click)="addField()">Add
    Field</button>
  <button *ngIf="isEditMode()" mat-raised-button color="accent" style="height: 45px; margin-left:10px;" (click)="deleteSection()">Delete
    Section</button>
</div>
<mat-divider></mat-divider>
