<h1 mat-dialog-title>Add New</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput [(ngModel)]=data.data.model type="text" class="form-control" placeholder="Model">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]=data.data.section type="text" class="form-control" placeholder="Section">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]=data.data.field type="text" class="form-control" placeholder="Field">
  </mat-form-field>
  <mat-form-field>
    <mat-select [(value)]="data.data.option" placeholder="Option">
      <mat-option value="N">Normal Input</mat-option>
      <mat-option value="C">Readonly / Computed Field</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="add()">Add</button>
  <button mat-button (click)="cancel()">Cancel</button>
</div>
