<div class="container" style="margin-top: 10px;">
  
  <div class="row row-indent">
    <mat-form-field>
      <input matInput placeholder="Age" [(ngModel)]="personal.Personal.age.value">
    </mat-form-field>
  </div>
  <div class="row row-indent">
    <section class="checkbox-section">
      <mat-checkbox [(ngModel)]="personal.Personal['Full Year Resident'].value">Full Year Res</mat-checkbox>
    </section>
    <mat-form-field>
      <input matInput [(ngModel)]="personal.Personal.fullYearResFrom.value" [matDatepicker]="from" placeholder="From ">
      <mat-datepicker-toggle matSuffix [for]="from"></mat-datepicker-toggle>
      <mat-datepicker #from></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="personal.Personal.fullYearResTo.value" [matDatepicker]="to" placeholder="To ">
      <mat-datepicker-toggle matSuffix [for]="to"></mat-datepicker-toggle>
      <mat-datepicker #to></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Total Days as Resident" value = {{personal.Personal.dateDifferenceDays.value()}} readonly>
    </mat-form-field>
  </div>
</div>
