<div class="row">
  <div class="col-sm-3" *ngFor="let key of calcs | keys">
    <div class="card border-dark mb-3" style="max-width: 18rem;">
      <div class="card-header">Calcs for <b>{{key}}</b></div>
      <div class="card-body">
        <div *ngFor="let sectionKey of calcs[key] | keys">
          <h5 class="card-title">{{sectionKey}}</h5>
          <div *ngFor="let childKey of calcs[key][sectionKey] | keys">
            <span>{{calcs[key][sectionKey][childKey].field}} ({{calcs[key][sectionKey][childKey].operation}})</span>
            <button type="button" class="close" aria-label="Close" (click)="deteleCalc(key, sectionKey, childKey)">&times;</button>
            <div *ngIf="calcs[key][sectionKey][childKey].if">
              <div *ngFor="let ifs of calcs[key][sectionKey][childKey].if">
                <u>Do If:</u><br />{{ifs.section1}} {{ifs.field1}} {{ifs.compare}} {{ifs.section2}} {{ifs.field2}} {{ifs.value}}
              </div>
            </div>
            <mat-divider></mat-divider>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn btn-link" (click)="setupAdd(key)">
        Add Calc
      </button>
    </div>
  </div>
</div>
