<h1 mat-dialog-title>Add Calc </h1>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput placeholder="Name" [(ngModel)]="data.data.name">
  </mat-form-field>
  <mat-form-field>
    <mat-select [(value)]="data.data.model" placeholder="Model">
      <mat-option>...</mat-option>
      <mat-option *ngFor="let option of constants.models | keys" value="{{option}}">{{option}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="data.data.model">
    <mat-select [(value)]="data.data.section" placeholder="Section">
      <mat-option>...</mat-option>
      <mat-option *ngFor="let option of constants.models[data.data.model] | keys" value="{{option}}">{{option}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="data.data.section && data.data.model">
    <mat-select [(value)]="data.data.field" placeholder="Field">
      <mat-option>...</mat-option>
      <mat-option *ngFor="let option of constants.models[data.data.model][data.data.section] | keys" value="{{option}}">{{option}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="data.data.section && data.data.model && data.data.field">
    <mat-select [(value)]="data.data.operation" placeholder="Operation">
      <mat-option value="+">+</mat-option>
      <mat-option value="-">-</mat-option>
    </mat-select>
  </mat-form-field>
  <section>
    <mat-checkbox [(ngModel)]="data.data.ifChecked">Ifs</mat-checkbox>
  </section>
  <mat-accordion *ngIf="data.data.ifChecked">
    <div class="row" *ngFor="let i of data.data.if ">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            If Previous Value <b> {{i.compareWithPrevious}}</b> {{i.model1}} {{i.section1}} {{i.field1}} {{i.compare}} {{i.model2}} {{i.section2}} {{i.field2}} {{i.value}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="row">
          <mat-form-field>
            <mat-select [(value)]="i.compareWithPrevious" placeholder="Compare With Previous">
              <mat-option value="&&">And</mat-option>
              <mat-option value="||">Or</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-select [(value)]="i.model1" placeholder="Model 1">
              <mat-option>...</mat-option>
              <mat-option *ngFor="let option of constants.models | keys" value="{{option}}">{{option}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngIf="i.model1">
            <mat-select [(value)]="i.section1" placeholder="Section 1">
              <mat-option>...</mat-option>
              <mat-option *ngFor="let option of constants.models[i.model1] | keys" value="{{option}}">{{option}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngIf="i.model1 && i.section1">
            <mat-select [(value)]="i.field1" placeholder="Field 1">
              <mat-option>...</mat-option>
              <mat-option *ngFor="let option of constants.models[i.model1][i.section1] | keys" value="{{option}}">{{option}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Compare With" [(ngModel)]=i.compare>
          </mat-form-field>
          <mat-form-field>
            <mat-select [(value)]="i.model2" placeholder="Model 2">
              <mat-option>...</mat-option>
              <mat-option *ngFor="let option of constants.models | keys" value="{{option}}">{{option}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngIf="i.model2">
            <mat-select [(value)]="i.section2" placeholder="Section 2">
              <mat-option>...</mat-option>
              <mat-option *ngFor="let option of constants.models[i.model2] | keys" value="{{option}}">{{option}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngIf="i.model2 && i.section2">
            <mat-select [(value)]="i.field2" placeholder="Field 2">
              <mat-option>...</mat-option>
              <mat-option *ngFor="let option of constants.models[i.model2][i.section2] | keys" value="{{option}}">{{option}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Or Value" [(ngModel)]=i.value>
          </mat-form-field>
        </div>
      </mat-expansion-panel>
    </div>
  </mat-accordion>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="add()">Add</button>
  <button mat-button (click)="cancel()">Cancel</button>
  <button *ngIf="data.data.ifChecked" mat-button (click)="addIf()">Add If</button>
</div>
